.psw-container {
  max-width: 400px; /* Ancho máximo para el formulario */
  margin: 0 auto;
  padding: 20px; /* Espaciado interno */
  border: 1px solid #000000; /* Borde del formulario */
  border-radius: 8px; /* Bordes redondeados */
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1); /* Sombra sutil */
  background-color: #8d8d8d; /* Color de fondo */
}
  
  /* Estilos para los encabezados */
  .psw-container h2 {
    text-align: center; /* Centrar el texto */
    color: #333; /* Color del texto */
    margin-bottom: 20px; /* Espaciado inferior */
    font-family: 'JerseyR', sans-serif;
    font-size: 40px;
  }
  
  /* Estilos para los mensajes de error */
  .psw-container p {
    color: red; /* Color del texto de error */
    text-align: center; /* Centrar el texto de error */
  }
  
  /* Estilos para los formularios */
  .psw-container form {
    display: flex; /* Usar flexbox para alinear los elementos */
    flex-direction: column; /* Disposición vertical */
  }
  
  /* Estilos para las etiquetas de los campos de entrada */
  .psw-container label {
    margin-bottom: 10px; /* Espaciado inferior */
  }
  
  /* Estilos para los campos de entrada */
  .psw-container input[type="email"],
  .psw-container input[type="password"] {
    padding: 10px; /* Espaciado interno */
    border: 1px solid #000000; /* Borde del campo */
    border-radius: 4px; /* Bordes redondeados */
    margin-bottom: 15px; /* Espaciado inferior */
    font-size: 16px; /* Tamaño de fuente */
  }
  
  /* Estilos para los botones */
  .psw-container button {
    padding: 10px; /* Espaciado interno */
    border: none; /* Sin borde */
    border-radius: 8px; /* Bordes redondeados */
    background-color: #4d4d4d; /* Color de fondo del botón */
    color: white; /* Color del texto del botón */
    font-size: 16px; /* Tamaño de fuente */
    cursor: pointer; /* Cambiar el cursor al pasar sobre el botón */
    font-size: 25px;
    font-family: 'JerseyR', sans-serif;
    transition: background-color 0.3s; /* Transición suave para el color de fondo */
    
  }
  
  /* Estilos para el botón al pasar el ratón */
  .psw-container button:hover {
    background-color: #2b2a2a; /* Color de fondo más oscuro al pasar el ratón */
    
    
  }
  